body {
  background-color: rgb(24, 86, 255);
  display: block;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.section-title {
  color: white;
  margin-top: 50px;
  margin-bottom: 100px;
}

.section-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.gradient {
  position: relative;
  height: 150px;
  width: 350px;
  background-image: linear-gradient(
    to top left,
    rgb(46, 111, 250),
    rgb(61, 122, 255)
  );
  z-index: -1;
  overflow: hidden;
}

.gradient-left {
  top: -60px;
  left: -245px;
}

.gradient-right {
  top: 40px;
  right: -204px;
}

.log-area {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  padding: 30px;
  padding-bottom: 200px;
  min-height: 800px;
}

.history-log {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  min-width: fit-content;
  color: white;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  height: 90px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}
.history-log--green {
  background-color: green;
}
.history-log--red {
  background-color: red;
}
.history-log--yellow {
  background-color: yellow;
  color: black;
}

.history-heading {
  color: rgb(46, 111, 250);
  font-weight: 900;
  font-size: 2rem;
  margin-bottom: 1rem;
  border: 5px solid rgb(46, 111, 250);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.log-content {
  margin-right: 20px;
}

.log-details-button {
  height: 60px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  color: white;
  background-color: rgb(46, 111, 250);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.log-details-button:active {
  background-color: rgb(5, 88, 136);
}

.newsletter-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.newsletter-div {
  position: relative;
  top: -125px;
}

.report__details {
  margin: 20px;
  background-color: white;
  padding: 1px;
}
.report__details-heading {
  text-align: center;
  background-color: bisque;
}
.report__details__download {
  padding-top: 5px;
}
