.footer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  vertical-align: middle;
  padding: 50px 2% 0 2%;
  align-items: center;
  min-width: fit-content;
  min-height: fit-content;
  background-color: rgb(24, 86, 255);
  width: auto;
}

.footer-button {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  background-color: rgb(24, 86, 255);
  border: none;
  height: 50px;
  width: 150px;
  min-width: fit-content;
  font-size: 14px;
  color: white;
  transition: background-color 0.3s ease;
}
.footer__copyright {
  color: white;
  text-align: right;
  font-size: 10px;
}
@media (min-width: 768px) {
  .footer__copyright {
    font-size: 15px;
  }
}
.nav-button:hover {
  background-color: rgb(65, 116, 255);
}

.footer-heading-btn {
  font-weight: bold;
  font-size: 16px;
}

@media (max-width: 862px) {
  .footer-button {
    max-width: 100px;
  }
}
